.nav {
padding: 20px;
background-color: black;
text-transform: uppercase;
}

.nav-link {


    text-transform: uppercase;
}

.navbar-nav {
    margin-left: 550px;
}
.nav-item {

    margin-left: 30px;
    margin-right: 30px;
    letter-spacing: 2px;
}


.logo {

    float: left;
    height: 80px;
    width: 100px;
    opacity: 0.7;
}

.display-4 {

    text-transform: uppercase;
    letter-spacing: 2px;
    margin-left: 250px;
    color: black;
}
.lead {
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-left: 250px;

}

